<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет - Digital Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        button {
         width: 50;

         padding: 10px;
         border: none;
         border-radius: 5px;
         background: #bbb;
         color: #2e2e2e;
         font-weight: bold;
         cursor: pointer;
         transition: background 0.3s;
        }
        button:hover {
         background: #999;
        }
    </style>
</head>
<body>
<!-- Меню -->
{% include 'header.html' %}

<!-- Личный кабинет -->
<section class="reveal" id="profileSection">
    <div class="profile-info">
        <img src="https://via.placeholder.com/150.png?text=Avatar">
        <div class="profile-details">
            <h2>{{current_user.nick_name}}</h2>
            <p>Это ваш личный кабинет. Здесь вы можете редактировать информацию о себе, управлять своими работами и
                просматривать статистику.</p>
            <a href="{{ url_for('settings') }}">
                <button>Настройки</button>
            </a>
        </div>
    </div>

    <h2>Мои работы</h2>
    <div style="text-align: center; margin-bottom: 20px;">
        <a href="{{ url_for('add_artwork') }}">
            <button>
                Добавить работу
            </button>
        </a>
    </div>
    {% for grid in works %}
    <div class="works-grid">
        {% for work in grid %}
        <div class="work-card">
            <img src="{{ url_for('static', filename='img/' + work.id|string + work.extension) }}">
            <div class="info">
                <h3>{{work.name}}</h3>
                <p>Цена: {{work.price}}</p>
                <p>Описание: {{work.short_description}}.</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</section>

<script>
    window.addEventListener("load", () => {
      const reveals = document.querySelectorAll(".reveal");
      reveals.forEach(el => el.classList.add("active"));
    });
</script>
</body>
</html>
